@model List<Slider>
@{
    ViewData["Title"] = "CoursesWeOffer";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Sliders</h4>
            <a class="btn btn-success" style="margin-bottom:20px" asp-controller="Slider" asp-action="Create">Create</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Slider Photo
                            </th>
                            <th>
                                Slider Title
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Slider slider in Model)
                        {
                            <tr>
                                <td>
                                    <img src="~/img/slider/@slider.Image" style="width:80px!important; height:70px!important;" />
                                </td>
                                <td>
                                    @Html.Raw(slider.Title)
                                </td>
                                <td>
                                    <a asp-controller="Slider" asp-action="Detail" asp-route-id="@slider.Id" class="btn btn-secondary">
                                        <i class="mdi mdi-information"></i>
                                    </a>
                                    <a asp-controller="Slider" asp-action="Update" asp-route-id="@slider.Id" class="btn btn-warning">
                                        <i class="mdi mdi-update"></i>
                                    </a>
                                    <a asp-controller="Slider" asp-action="Delete" asp-route-id="@slider.Id" class="btn btn-danger">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
