@model AppUser
@{
    ViewData["Title"] = "ChangeStatus";
}

<div class="row">
    <div class="col-md-12 d-flex align-items-stretch">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@Model.Fullname</h4>
                        <p>
                            @Model.Email
                        </p>
                        <p>
                            @Model.UserName
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>>
<div class="row mt-3">
    <a asp-action="Index" class="btn btn-dark">Go back</a>
    <form method="post">
        @if (!Model.IsDeleted)
        {
            <button type="submit" class="btn btn-danger ml-2">Deactivate</button>
        }
        else
        {
            <button type="submit" class="btn btn-success ml-2">Activate</button>
        }
    </form>
</div>
