@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Sliderr</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control" placeholder="Password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CheckPassword">Repeat Password</label>
                    <input asp-for="CheckPassword" class="form-control" placeholder="Repeat Password">
                    <span class="text-danger" asp-validation-for="CheckPassword"></span>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a class="btn btn-danger" asp-action="Index">Cancel</a>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>