@model SubscribeVM
   
 <!-- Subscribe Start -->
<div class="subscribe-area pt-60 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="subscribe-content section-title text-center">
                    <h2>@Model.Subscribe.Title</h2>
                    <p>@Model.Subscribe.Description</p>
                </div>
                <div class="newsletter-form mc_embed_signup">
                    <div class="text-center" asp-validation-summary="ModelOnly"></div>
                    <form asp-controller="Account" asp-action="Subscribe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="mc-form">
                            <div class="form-group">
                                <input asp-for="@Model.SubscribedEmail.Email" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your e-mail address" required>
                                <span asp-validation-for="@Model.SubscribedEmail.Email"></span>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <button id="mc-embedded-subscribe" class="default-btn" type="submit" name="subscribe"><span>subscribe</span></button>
                        </div>
                    </form>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div> <!--mailchimp-submitting end -->
                        <div class="mailchimp-success"></div> <!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div> <!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Subscribe End -->
